<div id="modal" class="modal"> <div class="modal-box">
    <!-- Modal Header -->
    <div class="modal-header">
        <span class="close">&times;</span>
        <h2>Meeting Details</h2>
    </div>
    <!-- Modal Body -->

    <div class="modal-body">
        <table class="details booking" id="meetingDetails">
            <tr id="dateModalRow">
                <td>Date: </td>
                <td id="dateModal"></td>
            </tr>
            <tr id="usernameModalRow">
                <td>Booked by: </td>
                <td id="usernameModal"></td>
            </tr>
            <tr id="startTimeModalRow">
                <td>Start Time: </td>
                <td id="startTimeModal"></td>
            </tr>
            <tr id="endTimeModalRow">
                <td>End Time: </td>
                <td id="endTimeModal"></td>
            </tr>
            <tr id="roomModalRow">
                <td>Room: </td>
                <td id="roomModal"></td>
            </tr>
            <tr id="attendeesModalRow">
                <td>Attendees: </td>
                <td id="attendeesModal"></td>
            </tr>
            <tr id="requestsModalRow">
                <td>Requests: </td>
                <td id="requestsModal"></td>
            </tr>					
        </table>
        <div class="confirmation-buttons-holder" id="details-buttons">
            <button type="button" class="confirmation-button">Edit Meeting</button>
            <div class="px-1 inline"></div><!-- Division between Squares-->
            <button type="button" class="confirmation-button red-button cancelModal" >Cancel Meeting</button>
        </div>
    </div>
</div> </div>