<div id="confirmation" class="modal"> <div class="modal-box">
    <!-- Modal Header -->
    <div class="modal-header">
        <h2>Confirmation</h2>
    </div>
    <!-- Modal Body -->
    <div class="modal-body confirmation-content">
        <div class="message">Do you wish to cancel this meeting?</div>
        <div class="confirmation-buttons-holder">
            <button type="button" class="confirmation-button" id="confirmClose">Keep Meeting</button>
            <div class="px-1 inline"></div><!-- Division between Squares-->
            <button type="button" class="confirmation-button red-button" id="confirmCancel" value="HAHAHA">Cancel Meeting</button>
        </div>
    </div>
</div> </div>