<!DOCTYPE html>
<html>
	<head>
	    <title>Booking</title>
		<!-- tailwind link -->
		<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"/>
		<!-- Google fonts link -->
		<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
		<!-- CSS links -->
		<link rel="stylesheet" href="css/styles.css"/>
		<link rel="stylesheet" href="css/booking.css"/>
		<!-- FontAwesome link-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
		<!-- Javascript links-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script language="JavaScript" type="text/javascript" src="js/booking.js"></script>
	</head>
	
	<body>
		<div class="navigation">
			<div class="logo-div flex">
				<img src="images/logo.png" class="logo">
			</div>
			
			<p class="site-title">Conference Room Booking</p>
			
			<span id="logout">
				<div class="icons-div flex">
					<i class="fa-solid fa-right-from-bracket"></i>
				</div>
			
				<p class="icons-desc">Logout</p>
			</span>
			
			<a id = "calendar" href="/calendar">
				<div class="icons-div flex"> <!-- Calendar Icon -->
					<i class="fa-regular fa-calendar-days"></i>
				</div>
			
				<p class="icons-desc">Back to Calendar</p>
			</a>
		</div>	
		
		<div class="container">
			<!-- Booking Details -->
			<div class="square">
				<h2>Booking Details</h2>
				<div class="line-break"></div><!-- Line Break -->
				<table class="booking">
					<tr>
						<td>Date: </td>
						<td id="date">{{date}} {{month}} {{year}}</td>
					</tr>
					<tr>
						<td>Booked by: </td>
						<td id="username">{{username}} </td>
					</tr>
					<tr>
						<td>Room: </td>
						<td>  
							<select id="room">
								<option value="" disabled selected>Select</option>
								<option value="integrity">Integrity</option>
								<option value="innovation">Innovation</option>
								<option value="teamwork">Teamwork</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Start Time: </td>
						<td>  
							<select id="startTime">
								<option value="" disabled selected>Select</option>
								<option value="1" disabled selected>1:00</option>  {{!-------}}
							</select>
						</td>
					</tr>
					<tr>
						<td>End Time: </td>
						<td>  
							<select id="endTime">
								<option value="" disabled selected>Select</option>
								<option value="2" disabled selected>2:30</option>  {{!-------}}
							</select>
						</td>
					</tr>
					<tr>
						<td>Attendees: </td>
						<td id="attendees"><textarea></textarea></td>
					</tr>
					<tr>
						<td>Requests: </td>
						<td id="marketingReqs"><textarea></textarea></td>
					</tr>					
				</table>
				<div class="line-break"></div><!-- Line Break -->
				<button id="book" class="book">BOOK</button>
			</div>
			
			<div class="px-1 inline"></div><!-- Division between Squares-->
			
			<!-- Schedule Details -->
			<div id="schedDetails" class="square">
				
			</div>
		</div>
	</body>
</html>