<!DOCTYPE html>
<html>
	<head>
	    <title>Sorry, page not found</title>
		<!-- tailwind link -->
		<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"/>
		<!-- Google fonts link -->
		<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
		<!-- CSS links -->
		<link rel="stylesheet" href="/css/styles.css" />
	</head>
	
	<body>
		<div class="navigation">
			<div class="logo-div flex">
				<img src="/images/logo.png" class="logo">
			</div>
		</div>

		<h1>ERROR 404</h1>
		
		<div class="box">
			<h2>Oh no! It seems like the page you are looking for is not available.</h2><br>
			<a href="/"><button text="HOME">Back to Home</button></a>
		</div>
	</body>
</html>