<!DOCTYPE html>
<html>
	<head>
	    <title>Login</title>
		<!-- tailwind link -->
		<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"/>
		<!-- Google fonts link -->
		<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
		<!-- CSS links -->
		<link rel="stylesheet" href="/css/fonts.css" />
		<link rel="stylesheet" href="/css/styles.css" />
	</head>
	
	<body>
		<div class="navigation">
			<div class="logo-div flex">
				<img src="/images/logo.png" class="logo">
			</div>
		</div>

		<h1>Conference Room Booking</h1>
		
		<div class="box">
			<h2>REGISTRATION</h2>
			<form action="/register" method="post" enctype="multipart/form-data">
				<input name="username" type="text" placeholder="Username"/>
				<input name="password" type="password" placeholder="Password"/>
				<input type="password" placeholder="Confirm Password"/>
				<p font-family="Nunito" font-size="16px"></p>
				<input type="submit" class="submitButton" value="REGISTER">
			</form>
		</div>
	</body>
</html>
